### Importing libraries

In [2]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd

In [7]:
url="https://www.bikes4sale.in/used/buy/"

In [9]:
page=requests.get(url)
page

In [5]:
# for div in soup.find_all('div', class_='txtBox'):
#     a_tag = div.find('a', href=True)
#     if a_tag:
#         link = "https://www.bikes4sale.in" + a_tag['href']
#         print(link)
#         page = requests.get(link)
# break

In [ ]:

    # for i in link_soup.find_all("div",class_="addInfo itemSubDetails"):
    #     cc=re.findall("(.+cc)",i.text)
    #     print(cc)
    #     if cc:
    #         Engine_CC.append(cc)
    #     else:
    #         Engine_CC.append([np.nan])
    #     print(Engine_CC)

In [6]:
# for i in soup.find_all('div',class_="txtBox"):
#     #print(i)
#     link=re.findall('<a href="(.+)" rel',str(i))
#     #print(link[0])
#     link="https://www.bikes4sale.in"+link[0]
#     print(link)
#     pages=requests.get(link)
#     #print(pages.text)

# break

In [9]:
page.status_code

200

In [10]:
soup=BeautifulSoup(page.content)

In [7]:
Name=[]
Model=[]
Buy_Year=[]
Location=[]
Price=[]
Engine_CC=[]
No_of_owners=[]
color=[]
KM=[]
for i in range(1,21):
    url=f"https://www.bikes4sale.in/used/buy/?page={i}"
    page=requests.get(url)
    soup=BeautifulSoup(page.content)
    
    for i in soup.find_all('div',class_="txtBox"):
    #print(i)
        link=re.findall('<a href="(.+)" rel',str(i))
    #print(link[0])
        link="https://www.bikes4sale.in"+str(link[0])
    #print(link)
        pages=requests.get(link)
    #print(pages.text)
    
        link_soup=BeautifulSoup(pages.content,'html.parser')
        link_bs=link_soup.find('div',attrs={"id":"secondCol"})
        name=re.findall("<h1>Used (\w+\s?)",str(link_bs))
        
        Name.append(name)
    
        data=link_bs.find_all("table",class_="b4stable itemDtlsTbl")
    
        model=re.findall(": (.+)</td>",str(data))
    
        Model.append(model[0])
        Buy_Year.append(model[1])
    
        Location.append(model[2])
    #print(Location)


        price=link_soup.find('div',class_="specLnk specLnkEmi serLnks")
        pp=re.findall(": Rs. (\d.+)C",price.text)
        if pp:
            Price.append(pp)
        else:
            Price.append(np.nan)
    #print(Price)
    



        link_bss=link_soup.find_all("table",class_="table idNewTbl")
        cc=re.findall("<td>(.+cc)",str(link_bss))
        if cc:
        
            Engine_CC.append(cc[0])
        else:
            Engine_CC.append(np.nan)
    #print(Engine_CC)

        owners = re.findall("<td>(.+) Owner", str(link_bss))
        if len(owners) >= 2:
            No_of_owners.append(owners[1])
        elif len(owners) == 1:
            No_of_owners.append(owners[0])
        else:
            No_of_owners.append(np.nan)

        link_color_table=link_soup.find_all('div',class_="addInfo itemSubDetails")
        
        kms=re.findall("<td>(.+)kms",str(link_color_table))
        if kms:
            KM.append(kms[0])
        else:
            KM.append(np.nan)


df=pd.DataFrame({"Vechicle Name":Name,"Model":Model,"Buy_Year":Buy_Year,"Location":Location,"Price":Price,"Engine_CC":Engine_CC,"No_of_owners":No_of_owners,"KM runs":KM})
df

Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.
Some characters could not be decoded, and were replaced with REPLACEMENT CHARACTER.

,Vechicle Name,Model,Buy_Year,Location,Price,Engine_CC,No_of_owners,KM runs
0,[Royal ],Royal Enfield Thunderbird 350,March 2019 Model,"Chennai, Tamil Nadu","[1,20,000]",350 cc,Single,"32,000"
1,[Royal ],Royal Enfield Thunderbird TwinSpark 350,2009 Model,"Banashankari, Bangalore, Karnataka","[80,000]",NaN,Single,"34,700"
2,[Bajaj ],Bajaj Pulsar NS 125,2025 Model,"Faridabad, Haryana",NaN,NaN,Single,"2,100"
3,[Hero ],Hero Electric Photon,2022 Model,"Pharenda, Maharajganj, Uttar Pradesh","[80,000]",NaN,Single,"23,000"
4,[Ola ],Ola S1 Pro,2022 Model,"Thumkunta, Medchal-Malkajgiri, Telangana","[80,000]",NaN,Single,"24,000"
...,...,...,...,...,...,...,...,...
820,[Hero ],Hero CD 100,1999 Model,"Vadodara, Gujarat","[10,000]",NaN,Single,"40,000"
821,[Jawa ],Jawa forty two,2022 Model,"New Delhi, Delhi","[1,10,000]",NaN,Single,"10,250"
822,[Jawa ],Jawa 42 Dual Channel ABS AllStar Black,2021 Model,"Pune, Maharashtra","[1,65,000]",NaN,Single,"6,700"
823,[Suzuki ],Suzuki Gixxer 150,2016 Model,"Kozhikode, Kerala",NaN,NaN,No of,"1,01,800"
824,[Honda ],Honda CB Hornet 160R,2016 Model,"Pune, Maharashtra","[60,000]",NaN,Single,"12,000"

In [13]:
df.to_csv(r'C:\Users\kiran\Documents\KIRAN\files_inno\EDA_dataset\dataset.csv',index=False)

In [2]:
data=pd.read_csv(r"C:\Users\kiran\Documents\KIRAN\files_inno\EDA_dataset\dataset.csv")
data

,Vechicle Name,Model,Buy_Year,Location,Price,Engine_CC,No_of_owners,KM runs
0,['Royal '],Royal Enfield Thunderbird 350,March 2019 Model,"Chennai, Tamil Nadu","['1,20,000']",350 cc,Single,"32,000"
1,['Royal '],Royal Enfield Thunderbird TwinSpark 350,2009 Model,"Banashankari, Bangalore, Karnataka","['80,000']",NaN,Single,"34,700"
2,['Bajaj '],Bajaj Pulsar NS 125,2025 Model,"Faridabad, Haryana",NaN,NaN,Single,"2,100"
3,['Hero '],Hero Electric Photon,2022 Model,"Pharenda, Maharajganj, Uttar Pradesh","['80,000']",NaN,Single,"23,000"
4,['Ola '],Ola S1 Pro,2022 Model,"Thumkunta, Medchal-Malkajgiri, Telangana","['80,000']",NaN,Single,"24,000"
...,...,...,...,...,...,...,...,...
820,['Hero '],Hero CD 100,1999 Model,"Vadodara, Gujarat","['10,000']",NaN,Single,"40,000"
821,['Jawa '],Jawa forty two,2022 Model,"New Delhi, Delhi","['1,10,000']",NaN,Single,"10,250"
822,['Jawa '],Jawa 42 Dual Channel ABS AllStar Black,2021 Model,"Pune, Maharashtra","['1,65,000']",NaN,Single,"6,700"
823,['Suzuki '],Suzuki Gixxer 150,2016 Model,"Kozhikode, Kerala",NaN,NaN,No of,"1,01,800"
824,['Honda '],Honda CB Hornet 160R,2016 Model,"Pune, Maharashtra","['60,000']",NaN,Single,"12,000"

In [5]:
Engine_CC=[]
for i in data["Model"]:
    v=re.findall(r"\d+(?:\.\d+)?",i)
    if v:
        Engine_CC.append(v[0])
    else:
        Engine_CC.append(np.nan)

In [6]:
Engine_CC

['350',
 '350',
 '125',
 nan,
 '1',
 '6',
 '150',
 '160',
 '125',
 '110',
 '200',
 '160',
 '160',
 '6',
 nan,
 nan,
 '350',
 '450',
 '125',
 nan,
 '150',
 '500',
 '400',
 '650',
 '110',
 nan,
 '200',
 '125',
 '400',
 '4',
 '200',
 nan,
 '150',
 nan,
 '1',
 '310',
 '15',
 '883',
 '310',
 '3',
 '1',
 nan,
 '220',
 '500',
 '220',
 '125',
 '350',
 '5',
 nan,
 nan,
 '500',
 '220',
 '180',
 '15',
 nan,
 '160',
 '200',
 '400',
 '200',
 '4',
 '400',
 '5',
 '6',
 '42',
 '200',
 nan,
 nan,
 '350',
 nan,
 '180',
 '200',
 '350',
 '450',
 '125',
 nan,
 nan,
 nan,
 '150',
 '125',
 '500',
 '400',
 '42',
 '650',
 '110',
 nan,
 nan,
 '100',
 '15',
 '200',
 '125',
 '300',
 '200',
 '100',
 nan,
 nan,
 nan,
 '1',
 '900',
 '100',
 '125',
 '400',
 '350',
 '200',
 nan,
 '125',
 '125',
 '200',
 '150',
 '125',
 '400',
 '4',
 '200',
 '125',
 nan,
 '150',
 nan,
 '1',
 '350',
 '310',
 '15',
 '150',
 nan,
 '883',
 '310',
 '150',
 '1',
 '220',
 '15',
 '1',
 nan,
 '350',
 '160',
 '125',
 '125',
 '390',
 nan,
 nan,
 '15',
 '110',
 '452',
 nan,
 '6',
 nan,
 '150',
 nan,
 '1',
 '3',
 nan,
 '350',
 '125',
 '6',
 nan,
 '125',
 nan,
 '390',
 '310',
 nan,
 '200',
 '5',
 '6',
 '6',
 nan,
 '350',
 '440',
 '125',
 '500',
 '125',
 '2',
 '350',
 '6',
 '150',
 '350',
 nan,
 nan,
 '6',
 '125',
 '150',
 '200',
 '180',
 nan,
 '220',
 '350',
 '200',
 '1',
 '5',
 '15',
 '310',
 '350',
 nan,
 nan,
 '1',
 '350',
 '3',
 '15',
 '150',
 '125',
 nan,
 '125',
 '1',
 '15',
 nan,
 '160',
 '15',
 '25',
 '1',
 '160',
 '350',
 '155',
 '350',
 '160',
 '1',
 '3',
 nan,
 '6',
 '125',
 '1',
 nan,
 nan,
 '15',
 '42',
 '15',
 nan,
 '125',
 '350',
 nan,
 '200',
 '400',
 '400',
 '350',
 nan,
 '4000',
 '150',
 '160',
 '1',
 '110',
 nan,
 '200',
 '350',
 nan,
 '400',
 '100',
 '220',
 '220',
 nan,
 nan,
 '1',
 '3',
 '452',
 '350',
 '220',
 '450',
 '160',
 '400',
 '15',
 '125',
 '25',
 nan,
 nan,
 nan,
 nan,
 '350',
 '220',
 nan,
 nan,
 '150',
 '15',
 '250',
 '350',
 '452',
 '250',
 '5',
 nan,
 '6',
 '400',
 nan,
 nan,
 nan,
 nan,
 '350',
 '4',
 '160',
 '25',
 '125',
 '110',
 nan,
 '2023',
 nan,
 '160',
 '125',
 '4.0',
 '350',
 '350',
 '42',
 '125',
 '650',
 '6',
 nan,
 '220',
 '125',
 '200',
 nan,
 '310',
 '2',
 '110',
 '2023',
 '2',
 '125',
 '125',
 '6',
 nan,
 nan,
 '150',
 '160',
 '160',
 nan,
 '390',
 '125',
 '2',
 '160',
 '350',
 '125',
 '390',
 '1',
 '2',
 '2025',
 '6',
 nan,
 nan,
 nan,
 nan,
 '125',
 nan,
 '6',
 '450',
 '180',
 '400',
 nan,
 '125',
 '125',
 nan,
 '1',
 '750',
 '6',
 '5',
 nan,
 '160',
 '2',
 '125',
 '500',
 nan,
 '125',
 '6',
 '15',
 nan,
 '200',
 '160',
 '125',
 nan,
 '310',
 '200',
 nan,
 '300',
 '135',
 '15',
 '6',
 '125',
 '15',
 nan,
 '1',
 nan,
 nan,
 '650',
 '160',
 '160',
 '350',
 '160',
 '650',
 '100',
 '650',
 '110',
 '310',
 '250',
 '220',
 nan,
 '350',
 '6',
 '12',
 '300',
 '400',
 '502',
 nan,
 '42',
 nan,
 nan,
 '450',
 '350',
 '650',
 '15',
 '125',
 '250',
 nan,
 '350',
 '400',
 nan,
 '42',
 nan,
 '5',
 nan,
 nan,
 '750',
 nan,
 '400',
 '500',
 '6',
 '650',
 '250',
 '42',
 '110',
 '150',
 nan,
 nan,
 '180',
 '125',
 '15',
 '3',
 nan,
 '200',
 '25',
 '300',
 '150',
 '350',
 nan,
 '2',
 nan,
 '42',
 nan,
 '135',
 '160',
 nan,
 '160',
 '250',
 '180',
 nan,
 '200',
 '100',
 '250',
 nan,
 nan,
 '125',
 '350',
 '160',
 '650',
 '125',
 '25',
 '310',
 nan,
 '5',
 '650',
 nan,
 '1',
 '125',
 '110',
 '125',
 '125',
 '125',
 '200',
 '1',
 '400',
 '150',
 '650',
 nan,
 '350',
 '15',
 '650',
 '125',
 nan,
 nan,
 '125',
 '2',
 '160',
 nan,
 nan,
 '350',
 '15',
 nan,
 nan,
 '350',
 '125',
 nan,
 nan,
 '125',
 '200',
 nan,
 '42',
 '3',
 '350',
 '125',
 nan,
 '3',
 '350',
 '125',
 '200',
 '2',
 '125',
 '350',
 nan,
 '310',
 '5',
 '25',
 '650',
 '310',
 '110',
 '650',
 nan,
 '350',
 '350',
 nan,
 '2025',
 '350',
 nan,
 '150',
 nan,
 '5',
 '350',
 nan,
 '350',
 '125',
 '650',
 '200',
 '350',
 '175',
 '400',
 '125',
 '42',
 nan,
 '125',
 nan,
 '160',
 '160',
 '160',
 '400',
 nan,
 nan,
 '350',
 nan,
 '110',
 '200',
 '350',
 '125',
 '1',
 '15',
 '160',
 '350',
 nan,
 '4.0',
 '650',
 '200',
 '350',
 '350',
 nan,
 '650',
 '150',
 '6',
 '350',
 nan,
 '1',
 nan,
 '350',
 nan,
 '650',
 '125',
 '150',
 '3',
 '16',
 nan,
 '2023',
 '1',
 '400',
 '15',
 '150',
 '220',
 nan,
 nan,
 '1',
 '350',
 nan,
 '42',
 '400',
 '250',
 nan,
 '500',
 '250',
 '150',
 '6',
 nan,
 '350',
 nan,
 '650',
 nan,
 '6',
 nan,
 nan,
 nan,
 '350',
 '200',
 '650',
 '160',
 '125',
 '5',
 '6',
 '15',
 '250',
 '200',
 '411',
 nan,
 nan,
 nan,
 '15',
 '250',
 nan,
 '160',
 '310',
 '125',
 nan,
 '110',
 '125',
 nan,
 nan,
 '125',
 '6',
 '125',
 nan,
 nan,
 '15',
 '2025',
 '150',
 '160',
 nan,
 '25',
 '160',
 nan,
 nan,
 '3',
 nan,
 '350',
 '350',
 '15',
 '15',
 '25',
 '350',
 '200',
 '350',
 nan,
 '3',
 '125',
 '200',
 '125',
 '8',
 '220',
 '150',
 nan,
 nan,
 '160',
 '125',
 '125',
 '160',
 '160',
 nan,
 '160',
 '220',
 '400',
 nan,
 '2',
 '15',
 '390',
 '400',
 nan,
 nan,
 nan,
 nan,
 '5',
 '160',
 '310',
 '125',
 '6',
 '15',
 '125',
 '220',
 nan,
 '350',
 '6',
 '110',
 nan,
 '6',
 '135',
 nan,
 '350',
 '63',
 '100',
 nan,
 nan,
 nan,
 '350',
 '125',
 '150',
 nan,
 '883',
 nan,
 '125',
 '6',
 nan,
 nan,
 '125',
 '400',
 '110',
 '1',
 '400',
 nan,
 '150',
 '110',
 nan,
 '350',
 '350',
 nan,
 nan,
 '400',
 nan,
 '3502',
 '125',
 '400',
 '15',
 '6',
 '125',
 nan,
 '125',
 '350',
 '125',
 '350',
 '350',
 '2',
 '350',
 '250',
 '350',
 nan,
 '15',
 '160',
 '350',
 '6',
 nan,
 '650',
 '400',
 '42',
 '200',
 '400',
 nan,
 '160',
 '650',
 '6',
 '125',
 '16',
 '1',
 '125',
 '15',
 nan,
 '125',
 '160',
 '350',
 '2021',
 nan,
 '1',
 nan,
 '12',
 '160',
 '250',
 '15',
 '125',
 '350',
 '150',
 '3',
 '220',
 '100',
 '400',
 '125',
 nan,
 nan,
 '1',
 '650',
 '220',
 '150',
 '250',
 '125',
 '200',
 '220',
 nan,
 '3502',
 nan,
 '15',
 '200',
 '125',
 '150',
 '125',
 '350',
 '883',
 '125',
 nan,
 '150',
 '350',
 '160',
 nan,
 '350',
 '150',
 nan,
 nan,
 '160',
 '16',
 '4',
 '110',
 nan,
 nan,
 '150',
 '100',
 nan,
 '42',
 '150',
 '160']

In [7]:
data

,Vechicle Name,Model,Buy_Year,Location,Price,Engine_CC,No_of_owners,KM runs
0,['Royal '],Royal Enfield Thunderbird 350,March 2019 Model,"Chennai, Tamil Nadu","['1,20,000']",350 cc,Single,"32,000"
1,['Royal '],Royal Enfield Thunderbird TwinSpark 350,2009 Model,"Banashankari, Bangalore, Karnataka","['80,000']",NaN,Single,"34,700"
2,['Bajaj '],Bajaj Pulsar NS 125,2025 Model,"Faridabad, Haryana",NaN,NaN,Single,"2,100"
3,['Hero '],Hero Electric Photon,2022 Model,"Pharenda, Maharajganj, Uttar Pradesh","['80,000']",NaN,Single,"23,000"
4,['Ola '],Ola S1 Pro,2022 Model,"Thumkunta, Medchal-Malkajgiri, Telangana","['80,000']",NaN,Single,"24,000"
...,...,...,...,...,...,...,...,...
820,['Hero '],Hero CD 100,1999 Model,"Vadodara, Gujarat","['10,000']",NaN,Single,"40,000"
821,['Jawa '],Jawa forty two,2022 Model,"New Delhi, Delhi","['1,10,000']",NaN,Single,"10,250"
822,['Jawa '],Jawa 42 Dual Channel ABS AllStar Black,2021 Model,"Pune, Maharashtra","['1,65,000']",NaN,Single,"6,700"
823,['Suzuki '],Suzuki Gixxer 150,2016 Model,"Kozhikode, Kerala",NaN,NaN,No of,"1,01,800"
824,['Honda '],Honda CB Hornet 160R,2016 Model,"Pune, Maharashtra","['60,000']",NaN,Single,"12,000"

In [99]:
data.isnull().sum()

Vechicle Name      0
Model              0
Buy_Year           0
Location           0
Price             97
Engine_CC        508
No_of_owners       0
KM runs           14
dtype: int64

In [9]:
# import pandas as pd
# import re

# # Load your dataset
# df = pd.read_csv("dataset.csv")

# Define a function to extract 3-digit engine cc from model name
def extract_engine_cc(row):
    model = str(row["Model"])
    current_cc = row["Engine_CC"]
    patterns=[r"\b(\d{3})[^a-z]\b",r"\b(\d{3})\b",r"\b\w.+(\d{3})\b"]
    if pd.isna(current_cc):
        for i in patterns:
            match = re.search(i, model)
            if match:
                return f"{match.group(1)} cc"
    return current_cc

# Apply the function row-wise
data["Engine_CC"] = data.apply(extract_engine_cc, axis=1)

# Optional: check how many were filled
print(f"Missing Engine_CC after filling: {data['Engine_CC'].isna().sum()}")

Missing Engine_CC after filling: 243

In [104]:
data

,Vechicle Name,Model,Buy_Year,Location,Price,Engine_CC,No_of_owners,KM runs
0,['Royal '],Royal Enfield Thunderbird 350,March 2019 Model,"Chennai, Tamil Nadu","['1,20,000']",350 cc,Single,"32,000"
1,['Royal '],Royal Enfield Thunderbird TwinSpark 350,2009 Model,"Banashankari, Bangalore, Karnataka","['80,000']",350 cc,Single,"34,700"
2,['Bajaj '],Bajaj Pulsar NS 125,2025 Model,"Faridabad, Haryana",NaN,125 cc,Single,"2,100"
3,['Hero '],Hero Electric Photon,2022 Model,"Pharenda, Maharajganj, Uttar Pradesh","['80,000']",200 cc,Single,"23,000"
4,['Ola '],Ola S1 Pro,2022 Model,"Thumkunta, Medchal-Malkajgiri, Telangana","['80,000']",200 cc,Single,"24,000"
...,...,...,...,...,...,...,...,...
820,['Hero '],Hero CD 100,1999 Model,"Vadodara, Gujarat","['10,000']",100 cc,Single,"40,000"
821,['Jawa '],Jawa forty two,2022 Model,"New Delhi, Delhi","['1,10,000']",200 cc,Single,"10,250"
822,['Jawa '],Jawa 42 Dual Channel ABS AllStar Black,2021 Model,"Pune, Maharashtra","['1,65,000']",200 cc,Single,"6,700"
823,['Suzuki '],Suzuki Gixxer 150,2016 Model,"Kozhikode, Kerala",NaN,150 cc,No of,"1,01,800"
824,['Honda '],Honda CB Hornet 160R,2016 Model,"Pune, Maharashtra","['60,000']",160 cc,Single,"12,000"

In [6]:
Brand=[]
Model=[]
Price=[]
Location=[]
for i in soup.find_all('div',class_="txtBox"):
    txt=i.text
    brand=re.findall("(\w.+), \d{4}",txt)
    if brand:
        Brand.append(brand)
    else:
        Brand.append([np.nan])


    model=re.findall("(\d{4}) ",txt)
    if model:
        Model.append(model)
    else:
        Model.append([np.nan])


    price=re.findall("Rs. (\d.+)",txt)
    if price:
        Price.append(price)
    else:
        Price.append([np.nan])



    location=re.findall(": (\w.+)\s? ",txt)
    if location:
        Location.append(location)
    else:
        Location.append([np.nan])

In [39]:
a=["uiop"]
a

['uiop']

In [7]:
Brand=np.concatenate(Brand).tolist()
Model=np.concatenate(Model).tolist()
Price=np.concatenate(Price).tolist()
Location=np.concatenate(Location).tolist()

In [13]:
df=pd.DataFrame({"Brand":Brand,"Model":Model, "Price" : Price , "Location" :Location})
df

,Brand,Model,Price,Location
0,Keeway SR 125,2024,"95,000","Kalyan, Thane, MaharashtraRs."
1,Yamaha FZ-S,2019,"60,000","Wakad, Pune, MaharashtraRs."
2,Bajaj Pulsar 150 BS6,2022,"85,000","Hyderabad, TelanganaRs."
3,Royal Enfield Bullet Standard 500,2015,"1,00,000","Vadodara, GujaratRs."
4,Revolt RV 400,2020,"70,000","New Delhi, DelhiRs."
...,...,...,...,...
62,Yamaha R15M,2021,"1,65,000","Rajajinagar, Bangalore, KarnatakaRs."
63,Bajaj Pulsar 180 DTSi,2016,"35,000","Faridabad, HaryanaRs."
64,Honda CB Unicorn,2013,"35,000","Mumbai, MaharashtraRs."
65,Bajaj Pulsar 220 DTSi,2013,"45,000","Mysore, KarnatakaRs."
66,Royal Enfield Bullet Standard 350,2021,"1,80,000","Haridwar, UtarakhandRs."

In [8]:
len(Brand)

67

In [9]:
len(Model)

67

In [10]:
len(Price)

67

In [12]:
len(Location)

67